# Core
requests==2.31.0
paramiko==3.4.0
scapy==2.5.0
cryptography==41.0.7
colorama==0.4.6
beautifulsoup4==4.12.2
python-nmap==0.7.1
pycryptodome==3.20.0

# Optional but useful
selenium==4.16.0
lxml==4.9.3
pandas==2.1.4
openpyxl==3.1.2
fpdf==1.7.2
